



body{
    font-family: Segoe UI, 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-image: url(images/pexels-eberhardgross-691668.jpg);
    background-repeat: no-repeat;   /* Prevents tiling */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

}



.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-around;
    height:100vh;
    width: 100vw;
    gap:20px;

    
    
    

}

.block2{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin-right: 2rem;
    

}


.block1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100%;
    margin-left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin-bottom: 5px;



}

.taskHeading{
    display:flex;
    height: 5%;
    width:100%;
    border-radius: 25px;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.7);
    
    
}


.mainApp{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}

.optionsBlock{
    display:flex;
    
    height: 10%;
    gap: 60px;

}








.focus{
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
}

.focus:hover{
    background-color: rgba(220, 220, 220);    
}




.shortBreak{
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;


}

.shortBreak:hover{
    
    background-color: rgba(220, 220, 220);
    
}


.longBreak{
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;


}

.longBreak:hover{
    
    background-color: rgba(220, 220, 220);
    
}







.buttonBar{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 10%;

}

.butt{
    background-color: rgb(255, 255, 255);
    height: 80%;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;

}
.butt:hover{
    
    background-color: rgba(220, 220, 220);
    
}




    

.desrb{
    font-weight: 700;
}


.TodoContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    align-items: center;   
    margin-left: 42px;
    gap: 10px;
}

#Form{
    display: flex;
    width: 100%;
    justify-content: center;

}

.form-row{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 95%;
    align-items: center;
    gap: 10px;
}
.form-row input[type="submit"] {
  width: 10%; /* button takes only needed width */
  border-color: rgb(255, 255, 255,0.1);
  border-radius: 25px;
  background-color:  rgb(255, 255, 255);
  cursor: pointer;
}

.form-row input[type="text"]{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255,0.1);
}


.completed {
    text-decoration: line-through;
    color: #000000;
    cursor: pointer;
}

#reset{
    border-radius: 10px;
    border-color: rgb(255, 255, 255,0.1);
    background-color:  rgb(255, 255, 255);
    cursor: pointer;
}

.listContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 254, 254);
  border-radius: 25px;
   
}

#tasklist {
    width: 100%; 
    max-width: 600px; 
    text-align: left;
    padding-left: 0;
    margin: 0;
}

#tasklist li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

#quoteBlock {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

#quoteText {
  font-style: italic;
  font-size: 1.2rem;
  color: #333;
}

.spotifyBlock{
    display: flex;
    width: 95%;
    margin-left: 20px;
    margin-bottom: 20px;

}

.spotifyBlock iframe {
  border-radius: 20px;
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}

.spotifyBlock iframe:hover {
  transform: scale(1.02);
}